/* .footer{
    margin-top: 5rem;
    padding: 0 7rem;
    background-color: rgb(7, 7, 85);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    
}

.footer li{
    list-style-type: none;
    margin-top: 1rem;
}
.footer li a{
    text-decoration: none;
    color: white;
}
.heading{
    width: 70%;
    line-height: 3rem;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
}
.button{
    margin: auto;
    display: block;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: 0.05rem solid white;
    margin-top: 3rem;
}
.other_info{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.logo{
    font-size: 1.7rem;
    font-weight: 700;
}
.address{
    width: 50%;
}
.heading2{
    font-weight: bold;
    font-size: 0.8rem;
}

.copyright{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
 */

/*asdffffffffffffffffffffffffffffff*/
.footer{
    margin-top: 5rem;
    padding: 0 7rem;
    background-color: rgb(7, 7, 85);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
}

.footer li{
    list-style-type: none;
    margin-top: 1rem;
}
.footer li a{
    text-decoration: none;
    color: white;
}
@media(max-width:48em){
    .footer{
        padding: 0;
    }
    .heading{
        width: 90%;
    }
    .other_info{
        padding: 0 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    .logo_address{
        grid-column: 1 / -1;
    }
    

}
@media (min-width:48.01em){
    .heading{
        width: 70%;
    }
    .other_info{
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 5rem;
    }
    .address{
        width: 50%;
    }
}
.heading{
    line-height: 3rem;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
}
.button{
    margin: auto;
    display: block;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: 0.05rem solid white;
    margin-top: 3rem;
}
.other_info{
    margin-top: 5rem;
    display: grid;
    
}
.logo{
    font-size: 1.7rem;
    font-weight: 700;
}

.heading2{
    font-weight: bold;
    font-size: 0.8rem;
}

.copyright{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
