@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  
  
  color:white;
  
  scroll-behavior: smooth;
  /* background-color: #C884FF; */
  background-image: linear-gradient(to right bottom, #140a5e,#000000);
}
@media (max-width:32em){
  :root{
    font-size:4vw;
    --root-margin: 0 1.5rem;
  }
}

@media (min-width:32.01em) and (max-width:48em){
  :root{
    font-size:2.5vw;
    --root-margin: 0 2rem;
  }
}

@media (min-width:48.01em){
  :root{
    font-size:1.5vw;
    --root-margin: 0 5rem;
  }
}

/* Created with https://www.css-gradient.com */

*{
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: var(--color-bg); */
}

.btn{
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bolder;
}
.heading1, .heading2{
  background-image: linear-gradient(to right, #AE67FA,#F49867);
  background-clip: text;
  color: transparent;
}
.heading1{
  font-size: 2.5rem;
  font-weight: 900;
}
.heading2{
  font-size: 2rem;
  font-weight: 900;
  
}
.description{
  color: #81AFDD;
}

